[Unit]
Description=NordVPN
After=network.target

[Service]
Type=simple
User=root
Group=root
{% if nordvpn_server is defined %}
Environment="NORDVPN_SERVER={{ nordvpn_server }}"
ExecStart=/usr/bin/nordvpn connect ${NORDVPN_SERVER}
{% else %}
ExecStart=/usr/bin/nordvpn connect
{% endif %}
ExecStop=/usr/bin/nordvpn disconnect
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
